body{
	background-color: white;
}
.navbar-header h1{
	font-weight: bold;
	color: black;
	font-family:'Lemonada', cursive;
	margin-top: 18px;
}
#navbars{
	background-color: rgba(0,0,0,0.2);
	border-radius: 0;
	border:0;
}
.navbar{
	height:90px;
}
#title h2{
	font-family:'Lemonada', cursive;
}
.row{
	margin: 20px;
}

.content-box{
	margin:10px;
	height: auto;
	width: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}
#sushi h4 ,#chicken h4 ,#beef h4{
	text-align: center;
	font-weight: bold;
}
li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}
.navbar-toggle{
	border:2px solid white;
}
.icon-bar{
	background-color: white;
}
